<!-- dwitter/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- include the Bulma CSS framework for styling -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Dwitter</title>
</head>
<body>
    <div class = "container">
        <span class = "logo">
            <span class="media-left image is-64x64">
                    {% load static %}
                    <img src="{% static 'media/Data_Team_Logo_Small.png' %}">
            </span>
            <div class="block">
                {% if user.is_authenticated %}
                    <a href="{% url 'dwitter:logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'dwitter:login' %}">Login</a>
                {% endif %}
            </div>
        </span>
    </div>
    <a href="{%  url 'dwitter:dashboard' %} ">
    <section class="hero is-small is-success is-bold mb-4">
        <div class="hero-body">
            <h1 class="title is-1">Dwitter</h1>
            <p class="subtitle is-4">
                Welcome, {{ user.username|upper }} to your tiny social network built with Django
            </p>
        </div>
    </section>
    </a>
    <div class="container">
        <div class="columns">
            {% block content %}

            {% endblock content %}
        </div>
    </div>
</body>
</html>