<!-- dwitter/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- include the Bulma CSS framework for styling -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Dwitter</title>
</head>
<body>
    <div class = "container">
        <span class = "logo">
            <figure class="media-left">
                <p class="image is-64x64">
                    {% load static %}
                    <img src="{% static 'media/Data_Team_Logo_Small.png' %}">
                </p>
            </figure>
        </span>
    </div>
    <section class="hero is-small is-success is-bold mb-4">
        <div class="hero-body">
            <h1 class="title is-1">Dwitter</h1>
            <p class="subtitle is-4">
                Your tiny social network built with Django
            </p>
        </div>
    </section>
    <div class="container">
        <div class="columns">
            {% block content %}

            {% endblock content %}
        </div>
    </div>
</body>
</html>