<!-- dwitter/templates/registration/password_change_form.html -->

{% extends 'base.html' %}

{% block content %}
<style>
    label, input {
        display: block;
        margin : 0 auto;
    }
    span.helptext {
        display: none;
    }
</style>
        <div class="column is-narrow">
            <div class="box has-text-centered">
                <div class="block">
                    <h2 class="title">Change Password</h2>
                </div>

                    <form method="post">
                        <div class="block">
                            {% csrf_token %}
                            {{ form.as_p }}
                        </div>
                        <div class="block">
                            <button type="submit" value="Change" class="button is-dark is-outlined is-fullwidth">
                                Change Password
                            </button>
                        </div>
                    </form>
                <div class="block">
                    <a href="{% url 'dwitter:dashboard' %}">Back to Dashboard</a>
                </div>
            </div>
        </div>

{% endblock %}